{% extends "layout.html" %}
{% block content %}

<script type="text/javascript">
    
    //initialize all variables
    var nbString = "";
    var lastCursor = 0;
    var currCursor = 0;
    //the logical clock we use

    //the version number
    var version_num = 0;

    /*var heap = new MinHeap(null,function(item1,item2){
        return item1.lClock == item2.lClock ? 0: item1.lClock<item2.lClock ? -1 : 1 ;
    });*/

    //the number of keepers
    var keeperNum = 3;

    //current connecting port
    var port = 0;

    //the working status
    //0:disconnect 1:connect
    var status = 0;

    //the dragged status
    var isDragged = false;

    //the logs stored in client side, used for the disconnect func
    var clientLog = []

    //the socketio and its
    var keeper_socket;

    //the class used to store the transferred data
    Data = function(changedString,lastCursor,currCursor,version_num) {
        this.changedString = changedString;
        this.startCursor = lastCursor;
        this.endCursor = currCursor;
        this.version_num = version_num;
    }


    setCaretPosition = function(ctrl,pos) {
        if (ctrl.setSelectionRange) {
            ctrl.focus();
            ctrl.setSelectionRange(pos, pos);
        }
        else if (ctrl.createTextRange) {
            var range = ctrl.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }  
    }


    getCaret = function(node) {
        if (node.selectionStart) {
            return node.selectionStart;
        } else if (!document.selection) {
            return 0;
        }
        var c = "\001",
        sel = document.selection.createRange(),
        dul = sel.duplicate(),
        len = 0;

        dul.moveToElementText(node);
        sel.text = c;
        len = dul.text.indexOf(c);
        sel.moveStart('character',-1);
        sel.text = "";
        return len;
    }

    getChanged = function(node){
        var textarea = document.getElementById('text1');
        var currCursor = getCaret(node);
        cur = node.value;
        var changedString = null;  
        if(lastCursor < currCursor){
            changedString = cur.substring(lastCursor,currCursor);
        } else {
            changedString = cur.substring(currCursor,lastCursor);
        }

        data = new Data(changedString,lastCursor,currCursor,version_num);
        //lClock++;
        lastCursor = currCursor;
        //alert(changedString)
        return data;
    }


    onmouseClick = function(node){
        lastCursor = getCaret(node);
    }

    onmouseDown = function(node){
        lastCursor = getCaret(node);
    }

    onmouseUp = function(node){
        lastCursor = getCaret(node);
    }


    updateText = function(data){
        //if delete
        if(data.endCursor < data.startCursor){
            nbString = nbString.substring(0,data.endCursor) + nbString.substring(data.startCursor);
        }
        //if add
        else{
            nbString = nbString.substring(0,data.startCursor) + data.changedString+nbString.substring(data.startCursor);
        }

        //update the textarea
        document.getElementById('text1').value = nbString;

        //set the cursor
        this.lastCursor = data.endCursor;
        setCaretPosition(document.getElementById('text1'),data.endCursor);

        //update the version_num
        version_num = data.version_num;
    }

    //try to connect to the server returned from the keeper
    serverConnected = function(port){
        //keeper_socket.options.port = port+10000;
        keeper_socket = io.connect('http://' + document.domain + ':' + (port+10000) + namespace,{'reconnect':false});

        //location.replace("http://0.0.0.0:" + (port+10000));

        keeper_socket.on('connect',function(){
            $('#log1').append('successfully');
            keeper_socket.emit('my connect', {data: 'I\'m connected!'});
        })

        keeper_socket.on('my connect', function(msg) {
            //$('#log1').append('<br>Received #' + msg.count + ': ' + msg.data);
            //get the initial text
            $('#text1').val(msg.nbString);
            nbString = msg.nbString;
            lastCursor = len(nbString);
        })


        keeper_socket.on('disconnect',function(){
            return keeperConnected(0);
        })

        keeper_socket.on('my change', function(msg) {
            //alert(msg.changedString+msg.startCursor+msg.endCursor);
            data = new Data(msg.changedString,msg.startCursor,msg.endCursor,msg.version_num);    
            /*heap.push(data)
            //alert(heap.getMin().lClock-lClock);
            if(heap.size()!=0){
                min_data = heap.getMin();
                while(min_data.lClock == (lClock+1)){
                    updateText(heap.pop());
                    if(heap.size()==0){
                        break;
                    }
                }
            }*/
            updateText(data)
        })

        /* 
        @textarea change event will activate this method
        */
        $('textarea#text1').bind('input propertychange',function(){
            var getData = getChanged(document.getElementById('text1'));
            $('#text1').val(nbString);
            keeper_socket.emit('my log',{changedString:getData.changedString, 
                                  startCursor: getData.startCursor,
                                  endCursor: getData.endCursor,                
                                  version: getData.version_num });
        });


        //the three mouse events
        $('textarea#text1').bind('click',function(){
            onmouseClick(document.getElementById('text1'));
        });

        $('textarea#text1').bind('mousedown',function(){
            onmouseDown(document.getElementById('text1'));
        });

        $('textarea#text1').bind('mouseup',function(){
            onmouseUp(document.getElementById('text1'));
        });
                //return keeper_socket.connect();
            //}
    }

    //try to connect to a keeper to get a new port
    keeperConnected = function(port){
        //first time
        keeper_socket = io.connect('http://' + document.domain + ':' + location.port + namespace,{'reconnect':false});
        //var socket = = io.connect('http://' + document.domain + ':' + 5000 + namespaceK,{'reconnect':false});
        
        //connect successfully, set i to port
        keeper_socket.on('connect', function(){
            $('#log1').append('<br>get keeper!');
            keeper_socket.emit('keeper_server');
        });

        //disconnect from the 
        keeper_socket.on('disconnect', function(){

        })

        //fail to connect
        keeper_socket.on('connect_failed', function(){
            if (port != 0) {port++;}

            //if all keepers can not be connected
            if (port >= keeperNum){
                return disconnectedMode()
            }
            //try another port
            else{
                return keeperConnected(port);
            }
        });

        //get the server port
        keeper_socket.on('server_port',function(msg){
            port = msg.pos;
            //if (socket == null) {
            //  $('#log1').append('<br>new port!');
                //socket = io.connect('http://' + document.domain + ':' + (port+5000) + namespace, {'reconnect':false});
                //keeper_socket.close();
            //}
            //else{
            $('#log1').append('<br>another port! ' + port);
            //socket.options.port = port+5000;
            keeper_socket.disconnect();

            return serverConnected(port);        
        });
    }

    //the disconnected mode
    disconnectedMode = function(){

    }

    $(document).ready(function(){

        //try to connect to keepers
        keeperConnected(0);

        //connect to server
        //keeper_socket.on('connect', function() {
         //   $('#log1').append('<br>connect to server!');
         //   socket.emit('my connect', {data: 'I\'m connected!'});
        //});

        //

        //disconnect from server
        //socket.on('disconnect',function() {
         //   return keeper_socket.reconnect();
        //});

    });


</script>
<textarea rows = "20" cols = "50" id = 'text1'></textarea>


<h2>Receive:</h2>
<div id = 'log1'></div>
{% endblock %}